body {
  margin: 20px;
  padding-top: 70px;
  background-image: url(./geometry2.png);
}

.home .tag {
  margin-left: 8px;
}

.home h4.text-success {
  text-decoration: line-through;
}

.home h6 {
  margin: 0 0 16px;
}

.home .card {
  min-width: 240px;
  background-color: #FFF;
}

.problem h1 {
  margin: 0 0 1.2rem;
  font-size: 2.3rem;
}

.problem h2 {
  font-size: 1.9rem;
}

.problem .code-block {
  position: relative;
}

.code-block > div {
  margin: 0 !important;
}

.problem .code-block button {
  top: 14px;
  position: absolute;
  right: 16px;
}

.submit {
  position: fixed;
  padding: .6em 1em;
  right: 30px;
  bottom: 40px;
  border-top-left-radius: 185px 160px;
  border-top-right-radius: 200px 195px;
  border-bottom-right-radius: 160px 195px;
  border-bottom-left-radius: 185px 190px;
}

nav {
  z-index: 11;
}

.language-selector {
  display: flex;
  align-items: center;
}

.language-selector label {
  margin: 0 8px 0 0 !important;
}

.monaco-editor .margin {
  margin: 0;
}

.monaco-editor .editor-widget.suggest-widget {
  font-size: 15px !important;
}

.code-editor {
  border: 1px solid #c1c0bd;
}

.countdown {
  display: flex;
  align-items: center;
}

.center-btn {
  width: 100%;
  text-align: center;
}

#alerts {
  position: fixed;
  right: 20px;
  top: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#alerts > div {
  width: fit-content;
}

.submits a {
  cursor: pointer;
}

blockquote, blockquote p {
  margin: 0;
}

.inline-code {
  color: inherit;
  margin-left: 4px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.data-download {
  float: right;
  margin-top: 20px;
}
